doctype 5
html
  head
    title= title
  body
    h2 REST API
    dl
      dt List of items
      dd GET /items   
      dt Create new item
      dd POST /items with JSON <br/> Parameters: {text, done}
      dt Get item by ID
      dd GET /items/:id Response: new item <br/> Response: new item
      dt Update item by ID
      dd PUT /items/ <br/> Parameters: {text, done}
      dt Delete item by ID
      dd DELETE /items/:id
